@media all and (min-width: 1px) and (max-width: 833px) {
body {
  width: 100vw;
  height: 110vw;
}
.frame{
  width: 100vw;
  height: 192.6vw;
  overflow: hidden;
}
.f1 {
  background: url('../images/iphone.png');
  background-repeat: no-repeat;
  padding: 13vw 0vw;
  background-size: cover;
}
.f2 {
  height: 216.3vw;
  background: url('../images/iphone2.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.none {
  display: none;
}
.star {
  width: 10.4vw;
  height: 10.4vw;
  margin-top: 60vw;
  margin-left: 71vw;
  background: url('../images/star.svg');
  background-repeat: no-repeat;
  animation: star .5s linear alternate infinite;
  background-size: cover;
  transform: scale(3);
}
@keyframes star {
  0% {transform: scale(3);}
  100% {transform: scale(4);}
}
.text1 {
  width: 100vw;
  height: 69vw;
  background: #FF5732;
  margin-top: 10vw;
}
.text2 {
  width: 100vw;
  height: 69vw;
  background: #FF5732;
  margin-top: 10vw;
}
h1 {
  font-family: Inter;
  color: white;
  font-size: 5vw;
  line-height: 6vw;
}
.t0 {
  margin-top: 4vw;
}
.strelka {
  width: 1.4vw;
  height: 2.8vw;
  margin-left: 96.9vw;
  margin-top: 23.2vw;
  background: url('../images/strelka.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.strelka2 {
  width: 1.4vw;
  height: 2.8vw;
  margin-left: 1.4vw;
  margin-top: 27.2vw;
  background: url('../images/strelka2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.strelka3 {
  width: 1.4vw;
  height: 2.8vw;
  margin-left: 96.9vw;
  margin-top: -2.8vw;
  background: url('../images/strelka.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.t2 {
  margin-left: 0vw;
  margin-top: 0vw;
}
.exist {
  opacity: 1;
}
.chel {
  width: 28.7vw;
  height: 19.1vw;
  margin-left: 3vw;
  margin-top: 145vw;
  background: url('../images/chel.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.buble {
  width: 12.5vw;
  height: 9.5vw;
  margin-left: 17vw;
  margin-top: -94vw;
  background: url('../images/bublee.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.kit {
  width: 46vw;
  height: 48vw;
  margin-left: 60vw;
  margin-top: -38vw;
  background: url('../images/kit.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
}
.exist1 {
  width: 88.6vw;
  height: 69.1vw;
  margin-left: 38vw;
  margin-top: -55.5vw;
  background: url('../images/k.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
}
.mesto {
  width: 101vw;
  height: 216vw;
  margin-left: 0vw;
  margin-top: -187vw;
}
.kit2 {
  width: 46vw;
  height: 48vw;
  margin-left: 60vw;
  margin-top: -80.6vw;
  background: url('../images/kit2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.2);
}
@keyframes op {
  0% {opacity: 1}
  100% {opacity: 0}
}
@keyframes op1 {
  0% {opacity: 0}
  100% {opacity: 1}
}
.animka00 {
  animation: op 2s;
}
.animka01 {
  animation: op1 2s;
}
.animka {
  animation: ulet 6s;
}
.animka2 {
  animation: prilet 1s;
}
.kit3 {
  width: 38.2vw;
  height: 29.3vw;
  margin-left: 24vw;
  margin-top: 3vw;
  background: url('../images/kit3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2);
}
.animka0{
  animation: kit .7s linear alternate infinite;
}
@keyframes kit {
  0% {transform: scale(2);}
  100% {transform: scale(2.1);}
}
.chel2 {
  width: 25.9vw;
  height: 19.1vw;
  margin-left: 3.1vw;
  margin-top: 70vw;
  background: url('../images/chel2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
@keyframes ulet {
  0% {transform: scale(2); margin-left: 46vw;}
  70% {transform: scale(0);}
  100% {transform: scale(0); margin-left: 70vw;}
}
@keyframes prilet {
  0% {transform: scale(0);}
  70% {transform: scale(1);}
  90% {transform: scale(0);}
  100% {transform: scale(0);}
}
.none1 {
  opacity: 0;
}
.star2 {
  width: 10.5vw;
  height: 10.5vw;
  margin-top: -106.5vw;
  margin-left: 80vw;
  background: url('../images/star2.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.jest {
  width: 12.5vw;
  height: 9.7vw;
  margin-top: -35vw;
  margin-left: 30vw;
  background: url('../images/jest.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2);
}
.strelka0 {
  width: 4.4vw;
  height: 6.2vw;
  margin-left: 91vw;
  margin-top: 64.5vw;
  background: url('../images/strelka0.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.f3 {
  height: 216.3vw;
  background: url(../images/ipad2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.text3 {
  width: 100vw;
  height: 69vw;
  background: #FF5732;
  margin-top: -31.6vw;
}
.strelka4 {
  width: 1.4vw;
  height: 2.8vw;
  margin-left: 96.9vw;
  margin-top: 33.1vw;
  background: url('../images/strelka.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.text4 {
  width: 100vw;
  height: 69vw;
  background: #FF5732;
  margin-top: -31.6vw;
}
.strelka5 {
  width: 1.4vw;
  height: 2.8vw;
  margin-left: 1.4vw;
  margin-top: 37.3vw;
  background: url('../images/strelka2.svg');
  background-repeat: no-repeat;
  transform: scale(3);
}
.strelka6 {
  width: 1.4vw;
  height: 2.8vw;
  margin-left: 96.9vw;
  margin-top: 5vw;
  background: url('../images/strelka.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.p1 {
  width: 20.8vw;
  height: 20.8vw;
  margin-left: 27vw;
  margin-top: 16vw;
  background: url('../images/p1.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
}
.p2 {
  width: 24vw;
  height: 24vw;
  margin-left: 53vw;
  margin-top: -7vw;
  background: url('../images/p2.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
}
.p3 {
  width: 19.6vw;
  height: 19.6vw;
  margin-left: 77vw;
  margin-top: -26vw;
  background: url('../images/p3.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
}
.p4 {
  width: 37vw;
  height: 37vw;
  margin-left: 30.9vw;
  margin-top: 14vw;
  background: url('../images/p4.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
}
.p5 {
  width: 28vw;
  height: 28vw;
  margin-left: 78vw;
  margin-top: -40vw;
  background: url('../images/p5.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
}
.kit4 {
  width: 17.6vw;
  height: 13.5vw;
  margin-left: 7vw;
  margin-top: -36vw;
  background: url('../images/kit4.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
}
.chel3 {
  width: 9.6vw;
  height: 8vw;
  margin-left: 3vw;
  margin-top: 99.7vw;
  background: url('../images/chel3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
}
.buble2 {
  width: 12.5vw;
  height: 9.7vw;
  margin-left: 24vw;
  margin-top: -34vw;
  background: url('../images/buble2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.animka3 {
  animation: polet 2.2s linear;
}
@keyframes polet {
  0% {margin-left: 2vw;}
  20% {margin-left: 20vw;}
  40% {margin-left: 50vw;}
  100% {margin-left: 200vw;}
}
.f4 {
  height: 216.3vw;
  background: url(../images/iphone3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: cover;
}
.text5 {
  width: 100vw;
  height: 69vw;
  background: #FF5732;
  margin-top: -32.6vw;
}
.strelka7 {
  width: 1.4vw;
  height: 2.8vw;
  margin-left: 96.9vw;
  margin-top: 45.1vw;
  background: url('../images/strelka.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.s1 {
  width: 16vw;
  height: 16vw;
  margin-left: 71vw;
  margin-top: 104vw;
  background: url('../images/s1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2);
}
.s2 {
  width: 16vw;
  height: 16vw;
  margin-left: 25vw;
  margin-top: -44vw;
  background: url('../images/s2.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2);
}
.s3 {
  width: 16vw;
  height: 16vw;
  margin-left: 62vw;
  margin-top: -37vw;
  background: url('../images/s3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2);
}
.tr1 {
  width: 27vw;
  height: 16vw;
  margin-left: 3vw;
  margin-top: -8vw;
  background: url('../images/tr1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2);
}
.mesto2 {
  width: 15vw;
  height: 15vw;
  margin-left: 44vw;
  margin-top: 31vw;
  /* background: blue; */
  transform: scale(2);
}
.mesto3 {
  width: 15vw;
  height: 15vw;
  margin-left: 44vw;
  margin-top: -44vw;
  /* background: yellow; */
  transform: scale(2);
}
.mesto4 {
  width: 15vw;
  height: 15vw;
  margin-left: 44vw;
  margin-top: -45vw;
  /* background: red; */
  transform: scale(2);
}
.mesto5 {
  width: 15vw;
  height: 15vw;
  margin-left: 44vw;
  margin-top: -45vw;
  /* background: green; */
  transform: scale(2);
}
.strelka8 {
  width: 4.4vw;
  height: 6.2vw;
  margin-left: 91vw;
  margin-top: 84.5vw;
  background: url('../images/strelka0.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2.5);
}
.chel4 {
  width: 9.6vw;
  height: 8vw;
  margin-left: 2vw;
  margin-top: 37vw;
  background: url('../images/chel3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.5);
}
.buble3 {
  width: 12.5vw;
  height: 9.7vw;
  margin-left: 15vw;
  margin-top: -34vw;
  background: url('../images/buble3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.dom {
  width: 25.5vw;
  height: 58.5vw;
  margin-left: 38.8vw;
  margin-top: -60vw;
  background: url('../images/dom.png');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(2);
}
.f5 {
  height: 216.3vw;
  background: #FF5732;
  background-repeat: no-repeat;
  background-size: cover;
}
.text6 {
  width: 100vw;
  height: 69vw;
  background: black;
  margin-top: -33.6vw;
}
.strelka9 {
  width: 1.4vw;
  height: 2.8vw;
  margin-left: 96.9vw;
  margin-top: 50.9vw;
  background: url('../images/strelka.svg');
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(3);
}
.kupon {
  width: 82.3vw;
  height: 53.6vw;
  margin-left: 10.1vw;
  margin-top: 27vw;
  background: url('../images/ipadkup.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.text7 {
  width: 100vw;
  height: 69vw;
  margin-left: -1.5vw;
  margin-top: 86vw;
  display: flex;
  justify-content: space-between;
}
.t7 {
  margin-left: 4vw;
  font-size: 2vw;
}
}
